.card{
    border: 1px solid rgb(238, 238, 238);
    height:300px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    width: 179px;
}

.item-details{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}
.item-image img{
    width: 160px;
    height:140px;
}
.item-image img:hover{
    scale: 1.1;
}

.timer{
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: rgb(238, 238, 238);
    width: fit-content;
    padding:  2px 4px;
    border-radius: 4px;
}

.timer:hover{
    background-color: rgb(12, 131, 31);
    color:#fff;
}

.item-name{
    font-size: 13px;
    font-weight: 500;
    height:40px;
}

.item-name:hover{
    color:rgb(12, 131, 31);
}

.item-weight{
    font-size: 12px;
    font-weight: 100;
    color: rgb(67, 65, 65);
}

.item-weight:hover{
    color: red;
    font-size: 14px;
}

.item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

.add-btn{
    background-color: #f7fff9;
    color:rgb(12, 131, 31);
    border: 1px solid rgb(12, 131, 31);
    padding:8px 20px;
    border-radius: 8px;
}

.add-btn:hover{
    background-color: rgb(12, 131, 31);
    color: #f7fff9;
    scale: 1.1;
}