.categories{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(10,10%);
}

@media  screen and (max-width: 768px) {
    .categories{
        grid-template-columns: repeat(4,25%);
    }
}

@media  screen and (max-width: 576px) {
    .categories{
        grid-template-columns: repeat(2,50%);
    }
}

